# Db2
DB2_CONN_STR="DATABASE=< >;HOSTNAME=< >;PORT=< >;Security=SSL;PROTOCOL=TCPIP;UID=< >;PWD=< >;"
DEADLINE=90

# NLU
NLU_APIKEY=
NLU_URL=
NLU_LANGUAGE=pt
NLU_VERSION=2021-08-01

# COS
COS_APIKEY=
COS_BUCKET=assistant-curator
COS_ENDPOINT=s3.us-south.cloud-object-storage.appdomain.cloud
COS_SERVICE_INSTANCE=

# RESOURCE CONTROLLER
IAM_APIKEY=
WATSON_ASSISTANT_RESOURCE_ID=7045626d-55e3-4418-be11-683a26dbc1e5
WATSON_ASSISTANT_LITE_PLAN_ID=bd16e3c8-3da0-11e6-bce3-54ee7514918e

# EXPERIMENT FUNCTION
EXPERIMENT_FUNCTION_URL=http://localhost:5000/experiment
